body {
  /* background: #001628; */
  color: #777;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

hr {
  /*dummy content*/
  height: 6px;
  border: none;
  background: rgba(0, 0, 0, 0.1);
}

hr:last-child {
  /*dummy content*/
  margin-right: 60%;
}

hr.image {
  /*dummy content*/
  padding-bottom: 50%;
}

.page {
  padding-top: 2em;
  background-color: #fff;
  max-width: 1400px;
}

.archive {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  grid-gap: 1em;
  grid-auto-flow: dense;
}

.article {
  padding: 1em;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 20px 20px rgba(0, 0, 0, 0.05);
}

.article:nth-child(1) {
  grid-column: 1 / 3;
  background: rgba(200, 200, 255, 0.3);
}

.article:nth-child(1) > hr:last-child {
  margin-right: 20%;
  height: 28px;
}

.article:nth-child(1):after {
  content: "";
}

.article:nth-child(2) {
  width: 54.8rem;

  background: rgba(255, 200, 255, 0.3);
}
.article:nth-child(2):after {
  content: "";
}
.article:nth-child(3) {
  grid-column: 1 / 7;
  background: #cecece;
}
.article:nth-child(3):after {
  content: "";
}

.article:nth-child(4) {
  grid-column: 1 / 3;
  background: rgba(255, 200, 255, 0.3);
}
.article:nth-child(5) {
  grid-column: -3/ 3;
  background: rgba(255, 200, 255, 0.3);
}


.article:after {
  color: #808;
  font-weight: bold;
  font-family: courier;
}
.bi-bi-person-circle {
  position: absolute;
  margin-right: 0px;
}
.RightPara {
  font-size: 1.5rem;
  margin-top: 15px;
}
.ContentItemsss {
  padding-left: 6rem;
  padding-right: 6rem;
  padding-top: 6rem;
}
h1 {
  font-size: 2.45rem;
  margin-bottom: 10px;
  color: black;
}
#logout {
  margin-left: 90px;
  margin-top: 2.5px;
}
.navbar {
  background-color: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(5px);
}

.nav-link {
  font-size: 20px;
}

.navbar-brand {
  margin-left: 100px;
}
.ContentItems {
  position: relative;
}
#Navbaredit,
.nav-link,
.navbar-nav,
.nav-item {
  color: black !important;
}
#navbarSupportedContent,
.btn {
  margin-right: 40px;
}

.carousel-item {
  height: 28rem;
  background: #777;
  color: white;
  position: relative;
}
.para {
  margin-top: 1rem;
  font-size: 1rem;
}
.text {
  padding-left: 5rem;
  padding-right: 5rem;
}
#accountPro {
  position: absolute;
}
#profile {
  padding-left: 10rem !important;
  float: left;
  margin-right: 50px;
}
.accountImage {
  position: absolute;
  margin-left: 200px;
}
.username {
  display: inline-block;
  position: absolute;
  margin-left: 25px;
  font-weight: 400;
  margin-top: 4px;
  font-size: 19px !important;
}

.material-icons {
  display: inline-block;
  position: absolute;
  margin-top: 12.5px;
}
.form-inline {
  width: 20rem;
}
